.navbar {
  background-color: #ffffff;
  color: white;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;    
  top: 0;
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 15px;
  transition: .3s;
}

.nav-links a {
  color: #002e8b;
  font-weight: 700;
}

.logo-container{
  display:flex;
  align-items:center;
  gap:0px;
}

.logo {
    max-height: calc(60px - (0.25rem * 2));
}
